/.vscode
/constfu.exe
/constfu.obj
/convert.exe
/convert.ilk
/convert.obj
/countpp1.exe
/countpp1.obj
/CppProperties.json
/docs_cpp.exe
/docs_cpp.obj
/ecopycon.exe
/ecopycon.obj
/IntClass.exe
/IntClass.obj
/reterc.exe
/reterc.obj
/safetyin.exe
/safetyin.obj
/sstrfind.exe
/sstrfind.obj
/statdata.exe
/statdata.obj
/strcopy2.exe
/strcopy2.obj
/stringin.exe
/stringin.obj
/table.exe
/table.obj
/tablearg.exe
/tablearg.obj
/vararg.exe
/vararg.obj
/vc140.pdb